<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Settings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Settings.Properties.Settings>
            <setting name="co_title" serializeAs="String">
                <value>Test Co.</value>
            </setting>
            <setting name="co_manager" serializeAs="String">
                <value>Parker</value>
            </setting>
            <setting name="co_adv" serializeAs="String">
                <value>Best Office Software</value>
            </setting>
            <setting name="co_tel" serializeAs="String">
                <value>+44 8696 456339</value>
            </setting>
            <setting name="co_cell" serializeAs="String">
                <value>+32 9966 999999</value>
            </setting>
            <setting name="co_fax" serializeAs="String">
                <value>+32 2133 985233</value>
            </setting>
            <setting name="co_activity" serializeAs="String">
                <value>Software</value>
            </setting>
            <setting name="co_email" serializeAs="String">
                <value>test@gmail.com</value>
            </setting>
            <setting name="co_website" serializeAs="String">
                <value>kacillamasoft.com</value>
            </setting>
            <setting name="co_address" serializeAs="String">
                <value>Montarrey, USA</value>
            </setting>
            <setting name="co_lang" serializeAs="String">
                <value>EN</value>
            </setting>
        </Settings.Properties.Settings>
    </userSettings>
</configuration>